 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: "Poppins",serif;
  }


hr {
    opacity: 15%;
    color: #eeeeee;
}
.col-lg-6 {
  text-decoration: none;
 color: #534f4f;
}
.display-5 {
 color: #226b6b
}
.display-7 {
  color: #226b6b
}